
    {% extends "base.twig" %}
{% block content %}
{% if fn('do_shortcode', '[gated_content]' )  %}

    {% include 'partials/flexible-hero.twig' %} 

    {% if terms|length %}
		<div class="c__filter mt-8">
			<div class="container mx-auto px-4">
				<div class="c__filter__links hidden md:block">
					<span class="mr-4 font-bold">Filter by</span>
					<a href="{{ site.url }}/resources/" class="cta cta--primary">{{ __('All Resources', 'cd-theme') }}</a>
					{% for term in terms %} 
						<span class="{{ term.term_id == active_filter ? 'active' }} cta cta--primary" data-id="{{ term.term_id }}">{{ term.name }}</span>
					{% endfor %}
				</div>	
				<div class="block md:hidden">
					<label class="sr-only" for="filter">{{ __('Filter by', 'cd-theme') }}</label>
					<select id="filter" class="border-2 border-black p-2 rounded-2xl w-1/2" name="filter" onchange="if (this.value) window.location.href=this.value">
						<option value="" disabled {{ active_filter  ? '' : 'selected' }}>{{ __('Filter by', 'cd-theme') }}</option>
						<option value="{{ all_news }}">{{ __('All', 'cd-theme') }}</option>
						{% for term in terms %} 
							<option value="{{ term.term_id }}" {{ term.term_id == active_filter ? 'selected' }}>{{ term.name }}</option>
						{% endfor %}
					</select>
				</div>
			</div>
		</div>
	{% endif %}
 
    <div class="m__posts py-8 md:pt-20 md:pb-24">
        <div class="container mx-auto px-4">
			{% if posts|length > 0 %}
				<div class="grid grid-cols-1 md:grid-cols-3 gap-8">
                        {% include ['partials/resource-results.twig', 'tease.twig'] %}
				</div>
				<div class="w-full">
                    {% if posts|length == ppp and posts.found_posts > ppp %}
                        <button id="load-more" class="btn btn--primary" data-page="1">{{ __('Load More', 'cd-theme') }}</button>
                    {% endif %}				</div>
			{% else %}
				<h2>{{ not_found }}</h2>
			{% endif %}
		</div>
	</div>

    {% include 'partials/flexible-content.twig' %}
{# {{ fn('do_shortcode', '[/gated_content]' ) }} #}
{% endif %}

{% endblock %}