{% set bg_type = hero.background_type %}
<div class="h__primary_hero {% if breadcrumb %}relative{% endif %}" style="{% if bg_type == 'colour' %}{% if hero.make_background_gradient %}background:{{ hero.gradient_style ? hero.gradient_style }}-gradient({% if hero.gradient_style == 'radial' %}circle{% else %}{% if hero.gradient_angle == "top-bottom" %}0deg{% else %}90deg{% endif %}{% endif %}, #{{ hero.background_colour }} 0%, #{{ hero.gradient_background_colour }} 100%);{% else %}background-color: #{{ hero.background_colour }}{% endif %}{% elseif bg_type == 'image' %}background-image: url('{{ hero.background_image.url }}');{% endif %}">
    <div class="container mx-auto px-4 h-full">
        {% if breadcrumb %}
                <div class="c__hero__breadcrumb absolute">
                    {{ breadcrumb }}   
                </div> 
            </div>
        {% endif %}
        <div class="h__primary_hero__wrap flex flex-col justify-center items-center w-3/4 mx-auto h-full text-center">
            <div class="h__primary_hero__wrap--title">
                <h1>{{ hero.hero_title }}</h1>
            </div>
            <div class="h__primary_hero__wrap--subheader">
                <p>{{ hero.hero_subheader }}</p>
            </div>
            {% if hero.cta.url or hero.second_cta.url %}
                <div class="h__primary_hero__wrap--links">
                    <a class="mr-2 cta cta--{{ hero.cta_style ? hero.cta_style }}" href="{{ hero.cta.url }}" target="{{ hero.cta.link.target ? hero.cta.link.target : '_self' }}">{{ hero.cta.title }}</a>
                    <a class="ml-2 cta cta--{{ hero.cta_style ? hero.cta_style }}" href="{{ hero.second_cta.url }}" target="{{ hero.second_cta.link.target ? hero.second_cta.link.target : '_self' }}">{{ hero.second_cta.title }}</a>
                </div>
            {% endif %}
        </div>
    </div>
</div>