<style>
    {{ content.css }}
</style>

<div class="c__case_study">
    <div class="container mx-auto px-4">
        <div class="c__case_study__wrapper">
            {{ content.html }}
        </div>
        <div class="code_full w-full flex flex-row gap-8 my-8">
            <div class="code__html w-1/2">
                <div class="code">
                    <h4>HTML</h4>
                    {% set lines = content.html_lines|split("\n") %}
                    {% for line in lines %}
                        <p class="my-0">{{ line|e }}</p>
                    {% endfor %}
                </div>
            </div>
            <div class="code__css w-1/2">
                <div class="code">
                    <h4>CSS</h4>
                    <p>{{ content.css_lines }}</p>
                </div>
            </div>
        </div>
        <div class="code my-8">
            <div class="code__js w-full">
                <h4>JavaScript</h4>
                <p>{{ content.javascript_lines }}</p>
            </div>
        </div>
    </div>
</div>

<script>
    {{ content.javascript }}
</script>