<div class="m__fiftyfifty {{ content.padding ? content.top_padding ~ ' ' ~  content.bottom_padding }}">
    <div class="container mx-auto px-4">
        {% for section in content.fiftyfifty_content %}
            <div class="m__fiftyfifty__text w-full flex flex-col md:flex-row gap-8 md:gap-0 justify-evenly {{ section.padding ? section.top_padding ~ ' ' ~  section.bottom_padding }}">
                <div class="m__fiftyfifty__text--left w-full md:w-2/5 {{ section.alignment ? section.alignment }}">
                    {% if section.left_title %}
                        <div class="m__fiftyfifty__text--left--header">
                            <h2>{{ section.left_title }}</h2>
                        </div>
                    {% endif %}
                    {% if section.left_copy %}
                        <div class="m__fiftyfifty__text--left--copy">
                            {{ section.left_copy }}
                        </div>
                    {% endif %}
                    {% if section.left_cta.url %}
                        <div class="m__fiftyfifty__text--left-links flex {% if section.alignment == 'text-beg' %}justify-start{% elseif section.alignment == 'text-mid' %}justify-center{% elseif section.alignment == 'text-far' %}justify-end{% endif %} items-center my-4">
                            <a class="mr-2 cta cta--{{ section.cta_style ? section.cta_style }}" href="{{ section.left_cta.url }}" target="{{ section.left_cta.link.target ? section.left_cta.link.target : '_self' }}">{{ section.left_cta.title }}</a>
                        {% if section.add_second_ctas and section.left_second_cta.url %}
                            <a class="ml-2 cta cta--{{ section.cta_style ? section.cta_style }}" href="{{ section.left_second_cta.url }}" target="{{ section.left_second_cta.link.target ? section.left_second_cta.link.target : '_self' }}">{{ section.left_second_cta.title }}</a>
                        {% endif %}
                        </div>
                    {% endif %}
                </div>
                <div class="m__fiftyfifty__text--right w-full md:w-2/5 {{ section.alignment ? section.alignment }}">
                    {% if section.right_title %}
                        <div class="m__fiftyfifty__text--left--header">
                            <h2>{{ section.right_title }}</h2>
                        </div>
                    {% endif %}
                    {% if section.right_copy %}
                        <div class="m__fiftyfifty__text--left--copy">
                            {{ section.right_copy }}
                        </div>
                    {% endif %}
                    {% if section.right_cta.url %}
                        <div class="m__fiftyfifty__text--left-links flex {% if section.alignment == 'text-beg' %}justify-start{% elseif section.alignment == 'text-mid' %}justify-center{% elseif section.alignment == 'text-far' %}justify-end{% endif %} items-center my-4">
                            <a class="mr-2 cta cta--{{ section.cta_style ? section.cta_style }}" href="{{ section.right_cta.url }}" target="{{ section.right_cta.link.target ? section.right_cta.link.target : '_self' }}">{{ section.right_cta.title }}</a>
                        {% if section.add_second_ctas and section.left_second_cta.url %}
                            <a class="ml-2 cta cta--{{ section.cta_style ? section.cta_style }}" href="{{ section.right_second_cta.url }}" target="{{ section.right_second_cta.link.target ? section.right_second_cta.link.target : '_self' }}">{{ section.right_second_cta.title }}</a>
                        {% endif %}
                        </div>
                    {% endif %}
                </div>
            </div>
        {% endfor %}
    </div>
</div>